.section-padding{
    padding: 80px 0;
}
.section-title{
    text-align: center;
    font-size: 25px;
    padding-left: 70px;
}

.box{
    background-color: #9d9d9d;
    height:300px;
    width:250px;
    border-radius:10px;
    position:relative;
    top:50px;
    left:40%;
}
.display{
    text-align: center;
    padding-top: 10px;
}